<!-- The nagivation bar for the WhatsApp Chats Backup Manager service -->
<div class="sidebar">
	<div class="accordian-profile">
		<img src="/images/blank-profile-picture.jpg">
		<label class="profile-name"><%= username %></label>
		<button class="btn profile-view link-btn" href="/profile">View Profile</button>
	</div>
	<ul class="nav-group">
		<li class="nav-item" href="/">Home</li>
		<li class="nav-item" href="/diary">Diary</li>
		<li class="nav-item" href="/wcbm">WhatsApp Chats Backups</li>
		<li class="nav-item" href="/quotesmanager">Quotes</li>
		<li class="nav-item" href="/screenshotsmanager">Screenshots</li>
		<li class="nav-item" href="/admin">Admin</li>
		<li class="nav-item other" style="text-align: center;border: none;"><button class="btn red-outline-button link-btn" href="/logout">Log Out</button></li>
	</ul>
</div>
<div class="header"><div class="menu-toggle-btn"></div><label class="title">WhatsApp Chats Backup</label></div>